.banner {
  lost-align: center;
  flex-direction: column;
  // margin-top: 10vh;
  lost-column: 1/2 2;
}

.banner--primary {
  font-family: TB;
  font-size: 3rem;
  display: block;
  color: $off-black;
}

.banner--secondary {
  font-family: T;
  font-weight: 300;
  font-size: 2rem;
  color: $grey;
  max-width: 60%;
  .issy--span {
    color: $blue;
  }
}

.banner--disclaimer {
  font-weight: 300;
  font-style: italic;
  margin-top: 2em;
  color: rgba($pink, 0.5);
  font-size: 1rem;
}