.question--wrapper {
  lost-align: center;
  flex-direction: column;
  lost-column: 1/2;
  @media (--mobile) {
    lost-column: 1/1;
  }
  @media (--mid) {
    lost-column: 1/1;
  }
}

.question--input {
  border: none;
  outline: 0;
  font-size: 1.1rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .07);
  width: 35em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  line-height: 1.5;
  display: flex;
  flex-flow: row wrap;
  max-width: flex;
  margin-left: auto;
  margin-right: auto;
  transition: all .25s ease-in-out;
  background: darken($smoke, 1.5%);
  color: $off-black;
  &:hover {
    box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, .1);
  }
}

.question--submit {
  border: none;
  outline: 0;
  font-size: .9rem;
  padding: 1em 3em 1em 3em;
  color: $white;
  background: $pale;
  margin: 4em auto 2em;
  transition: all .2s ease-out;
  cursor: pointer;
  &:hover {
    transform: translateY(2.5px);
  }
}