.header {
  padding-top: 2rem;
  width: 100%;
  position: absolute;
  z-index: 6;
  & a {
    lost-column: .8/12;
    lost-offset: .2/2;
    position: absolute;
  }
}

.sharing__code {
  lost-offset: 1.18/2;
  display: inline;
  position: absolute;
  border: none;
  outline: 0;
  font-size: 1rem;
  padding: 1em 3em 1em 3em;
  color: $white;
  background: $blue;
  transition: box-shadow .3s cubic-bezier(.3, .11, .56, .79);
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 11px 66px -13px $blue;
  &:hover {
    box-shadow: 0px 11px 66px -7px $blue;
  }
}