@font-face {
  font-family: TB;
  src: url("../fonts/Theinhardt-Bold.woff");
}

@font-face {
  font-family: T;
  src: url("../fonts/Theinhardt-Regular.woff");
}

$white: #FFFFFF;
$black: #000000;
$off-black: #3A3335;
$grey: #808080;
$smoke: #F6F4EF;
$blue: #7A89C2;
$pink: #94778B;
$pale: #DFAEB4;

@custom-media --mobile (width < 901px);
@custom-media --mid (901px < width < 1200px);
@custom-media --desktop-medium (901px < width < 1267px);